.footer{
    background-color: #dddd;
    text-align: center;
    color: white;
    width: 100%;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
 }
 
 .footer h3{
    padding-top: 2rem;
    padding-bottom: 2rem;
 }
 


@media screen and (min-width: 768px) and (max-width: 1200px) {
   
	
	 /******************/
	 /**** FOOTER *****/
	 
	 .footer{
		 display: grid; 
		 grid-template-columns: repeat(2, 1fr); 
		 grid-gap: 1rem; 
		 justify-items: center;
	 }
	
 }
 
 /************* DESKTOP *************/
 
 @media screen and (min-width: 1200px){
	 /**** FOOTER *****/
	 
	 .footer{
		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;
		
	 }
	 
	 
 }