/************************* CARTE ARTICLE ********************************/
.cardsArticles {
	background-color: #ddd;
	border: 2px solid #ddd;
	border-radius: 6px;
	padding: 1rem;
	margin: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  /************************** BOUTONS ACTIONS ******************************/
  .cardActions {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
  }
  
  .editButton,
  .deleteButton {
	background-color: transparent;
	border: 2px solid #2F1E0E;
	padding: 0.5rem 1rem;
	margin: 0 0.5rem;
	cursor: pointer;
	color: #2F1E0E;
	font-size: 1rem;
	border-radius: 5px;
	transition: background-color 0.3s ease;
  }
  
  .editButton:hover {
	background-color: #facfd5;
  }
  
  .deleteButton {
	background-color: #f44336;
	color: white;
  }
  
  .deleteButton:hover {
	background-color: #d32f2f;
  }
  
  /*************************** TITRE ET CONTENU ******************************/
  .titleArticles {
	padding: 2rem;
	text-align: center;
	color: #2F1E0E;
  }
  
  .introArticles p {
	text-align: justify;
	padding: 1.6rem;
	color: #2C030B;
  }
  