/************************* CARTE ARTICLE ********************************/
.cardsArticles {

	border-radius: 6px;
	padding: 1rem;
	margin: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;  
	gap: 1rem;  
  }
  
  
  .cardArticls {
	background-color: #ddd;
	border-radius: 6px;
	padding: 1rem;
	width: calc(33.33% - 1rem);  
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;
	margin-bottom: 1rem; 
  }
  
  
  .cardArticls:hover {
	transform: translateY(-5px);  
  }
  
  /************************** BOUTONS ACTIONS ******************************/
  .cardActions {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
  }
  
  .editButton,
  .deleteButton {
	background-color: transparent;
	border: 2px solid #2F1E0E;
	padding: 0.5rem 1rem;
	margin: 0 0.5rem;
	cursor: pointer;
	color: #2F1E0E;
	font-size: 1rem;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	text-decoration: none;
  }
  
  .editButton:hover {
	background-color: #2c0a11;
	color: white;
  }
  
  .deleteButton {
	background-color: #2F1E0E;
	color: white;
  }
  
  .deleteButton:hover {
	background-color: #d32f2f;
  }
  
  /*************************** TITRE ET CONTENU ******************************/
  .titleArticles {
	padding: 2rem;
	text-align: center;
	color: #2F1E0E;
	text-transform: uppercase;
	border-bottom: 2px solid #2C030B;
  }
  
  .introArticles p {
	text-align: justify;
	padding: 1.6rem;
	color: #2C030B;
  }



  @media (max-width: 820px) {
	.cardArticls {
	  width: 100%; 
	}
  }